In [1]:
import pandas as pd

In [26]:
DATA_DIR="c:\\Users\\tihor\\Documents\\kaggle\\santander\\"
df_train=pd.read_csv(DATA_DIR+'train.csv')
df_test=pd.read_csv(DATA_DIR+'test.csv')

In [27]:
print(df_train.shape)
print(df_test.shape)
train_examples=df_train.shape[0]

(200000, 202)
(200000, 201)

In [28]:
df_train['Source']=0
df_test['Source']=1

In [29]:
df_train=df_train[[col for col in df_train.columns if col not in ['ID_code','target']]]
df_test=df_test[[col for col in df_train.columns if col not in ['ID_code','target']]]
df_train.head()

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199,Source
0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,-4.9200,5.7470,...,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914,0
1,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,3.1468,8.0851,...,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518,0
2,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,-4.9193,5.9525,...,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965,0
3,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,-5.8609,8.2450,...,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996,0
4,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,6.2654,7.6784,...,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104,0

In [30]:
df_test.head()

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199,Source
0,11.0656,7.7798,12.9536,9.4292,11.4327,-2.3805,5.8493,18.2675,2.1337,8.8100,...,11.8495,-1.4300,2.4508,13.7112,2.4669,4.3654,10.7200,15.4722,-8.7197,1
1,8.5304,1.2543,11.3047,5.1858,9.1974,-4.0117,6.0196,18.6316,-4.4131,5.9739,...,8.8349,0.9403,10.1282,15.5765,0.4773,-1.4852,9.8714,19.1293,-20.9760,1
2,5.4827,-10.3581,10.1407,7.0479,10.2628,9.8052,4.8950,20.2537,1.5233,8.3442,...,10.9935,1.9803,2.1800,12.9813,2.1281,-7.1086,7.0618,19.8956,-23.1794,1
3,8.5374,-1.3222,12.0220,6.5749,8.8458,3.1744,4.9397,20.5660,3.3755,7.4578,...,9.0766,1.6580,3.5813,15.1874,3.1656,3.9567,9.2295,13.0168,-4.2108,1
4,11.7058,-0.1327,14.1295,7.7506,9.1035,-8.5848,6.8595,10.6048,2.9890,7.1437,...,9.1723,1.2835,3.3778,19.5542,-0.2860,-5.1612,7.2882,13.9260,-9.1846,1

In [31]:
df_combined=df_train.append(df_test)
print(df_combined.shape)
df_combined.head()
del df_train,df_test
df_y=df_combined['Source']
df_X=df_combined[[col for col in df_combined.columns if col not in ['Source']]]

(400000, 201)

In [33]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df_X,df_y,train_size=train_size)
print(X_train.shape,y_train.shape)
print(X_test.shape,y_test.shape)

c:\users\tihor\appdata\local\programs\python\python36\lib\site-packages\sklearn\model_selection\_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

(200000, 200) (200000,)
(200000, 200) (200000,)

In [39]:
#logistic regression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score
clf=LogisticRegression()
clf.fit(X_train,y_train)
y_pred=clf.predict_proba(X_test)[:,1]
roc_auc_score(y_test,y_pred)

0.5068284027477906

In [38]:
#random forest
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score
clf=RandomForestClassifier(n_estimators=100)
clf.fit(X_train,y_train)
y_pred=clf.predict_proba(X_test)[:,1]
roc_auc_score(y_test,y_pred)

0.5032413169362919